Repository cheung31/slabby: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, eslint, prettier

tsc:
  tags: typescript types
  run: yarn tsc --noEmit

eslint:
  tags: javascript typescript lint
  run: yarn eslint --fix {staged_files}

prettier:
  tags: javascript typescript style
  run: yarn prettier --write {staged_files}

Upgrade react
  package.json
  yarn.lock
Due: prettier

Upgarde eslint
  package.json
  yarn.lock
Due: prettier

Upgrade patch deps
  package.json
  yarn.lock
Due: prettier

lint-staged -> lefthook
  .husky/prepare-commit-msg
  lefthook.yml
  lint-staged.config.js
  package.json
  yarn.lock
Due: eslint, prettier

getServerSideProps - server side rendering
  components/GenericTimeline.tsx
  hooks/useThings.ts
  pages/[type].tsx
Due: tsc, eslint, prettier

Add node-fetch and filter against public profile recent tracks
  package.json
  pages/api/poll/lastfm.ts
  yarn.lock
Due: tsc, eslint, prettier

Update deps
  package.json
  yarn.lock
Due: prettier

Fix dequeue when scrollTop 0
  components/Timeline.tsx
Due: tsc, eslint, prettier

Memoize thingType in generic page. Wait til timeline to render random quote.
  pages/[type].tsx
Due: tsc, eslint, prettier

Consolidate isFocused state to useThings hook. Move scrollY observation to useThings. Observe window focus + visibilitychange + scrollY to toggle isFocused.
  components/GenericTimeline.tsx
  components/Timeline.tsx
  config.ts
  hooks/useThings.ts
Due: tsc, eslint, prettier

Assert item type on enqueue
  hooks/useThings.ts
Due: tsc, eslint, prettier

Add react-helmet. Render plural title name
  config.ts
  package.json
  pages/[type].tsx
  yarn.lock
Due: tsc, eslint, prettier

Install react-aria
  package.json
  yarn.lock
Due: prettier

react-aria - MobileNav
  components/BlurOverlay.tsx
  components/MobileNav.tsx
  pages/_app.tsx
Due: tsc, eslint, prettier

react-aria - Add FocusScope on page. Add Focusable component to invoke focusManager next/previous and wrap a tabIndex.
  components/Focusable.tsx
  components/MobileNav.tsx
  components/Timeline.tsx
  pages/[type].tsx
Due: tsc, eslint, prettier

Consolidate isFocused state to useThings hook. Move scrollY observation to useThings. Observe window focus + visibilitychange + scrollY to toggle isFocused.
  components/GenericTimeline.tsx
  components/Timeline.tsx
  config.ts
  hooks/useThings.ts
  pages/[type].tsx
Due: tsc, eslint, prettier

Refactor MobileNav
  components/MobileNav.tsx
Due: tsc, eslint, prettier

gitignore
  .gitignore
Due: none

Server side load first 2, client-side fill rest of timeline
  hooks/useThings.ts
  pages/[type].tsx
Due: tsc, eslint, prettier

No SSR
  pages/[type].tsx
Due: tsc, eslint, prettier

HTML decode profile response
  package.json
  pages/api/poll/lastfm.ts
  yarn.lock
Due: tsc, eslint, prettier

Update content excessive threshold
  pages/api/poll/lastfm.ts
Due: tsc, eslint, prettier

Bump patch deps
  package.json
  yarn.lock
Due: prettier

Bump minor devDeps
  package.json
  yarn.lock
Due: prettier

Bump minor react/react-dom
  package.json
  yarn.lock
Due: prettier

Bump minor @sendgrid/mail
  package.json
  yarn.lock
Due: prettier

Bump minor nextjs 12.2
  package.json
  yarn.lock
Due: prettier

Bump major devDeps @types/node
  package.json
  yarn.lock
Due: prettier

Bump major react-plx. Remove Plx on first thing as it does not require transition.
  components/Timeline.tsx
  package.json
  yarn.lock
Due: tsc, eslint, prettier

enqueueFetched handles empty fetched or no latestItem
  hooks/useThings.ts
Due: tsc, eslint, prettier

Upgrade deps
  package.json
  yarn.lock
Due: prettier

Add abort controller when fetching things
  hooks/useThings.ts
Due: tsc, eslint, prettier

Bump deps
  package.json
  yarn.lock
Due: prettier

Default size: 1024x1024
  pages/api/poll/foursquare.ts
  pages/api/poll/lastfm.ts
Due: tsc, eslint, prettier

Bump minor deps
  package.json
  yarn.lock
Due: prettier

gitignore supabase init config dir
  .gitignore
Due: none

Remove abort controller
  hooks/useThings.ts
Due: tsc, eslint, prettier

Update ts-foursquare dep
  package.json
  yarn.lock
Due: prettier

Path conditions:
  tsc: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  prettier: any of: *.{js,ts,tsx,md,json}
