Repository cheung31/slabby: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tsc:
      tags: typescript types
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit
    eslint:
      tags: javascript typescript lint
      glob: "*.{js,ts,tsx}"
      run: yarn eslint --fix {staged_files}
    prettier:
      tags: javascript typescript style
      glob: "*.{js,ts,tsx,md,json}"
      run: yarn prettier --write {staged_files}

Add fireworks
  pages/_document.tsx
  public/fireworks.js
Due: tsc, eslint, prettier

Loosen lastfm poll profile check and max mins since scrobble
  pages/api/poll/lastfm.ts
Due: tsc, eslint, prettier

Fix labelTag right arrow when no title
  components/Timeline.tsx
  styles/labelTag.module.css
Due: tsc, eslint, prettier

transform considers posted_at
  utils/transformForTimeline.ts
Due: tsc, eslint, prettier

Bump patch deps
  package.json
  yarn.lock
Due: prettier

Bump minor deps
  package.json
  yarn.lock
Due: prettier

Bump major and type deps
  package.json
  yarn.lock
Due: prettier

Update location parsing
  pages/api/poll/foursquare.ts
Due: tsc, eslint, prettier

Bump typescript eslint plugin
  package.json
  yarn.lock
Due: prettier

Bump typescript eslint plugin and eslint-config-next
  package.json
  yarn.lock
Due: prettier

Bump prettier and format
  components/Timeline.tsx
  hooks/useThings.ts
  package.json
  pages/api/poll/foursquare.ts
  pages/api/poll/publish_reminder.ts
  types/things.ts
  utils/index.ts
  utils/throttle.ts
  yarn.lock
Due: tsc, eslint, prettier

Bump to nextjs 14
  package.json
  yarn.lock
Due: prettier

Bump supabase
  package.json
  pages/api/things/[id].ts
  utils/handlerWithAuthorization.ts
  yarn.lock
Due: tsc, eslint, prettier

Fix build issue with ts-foursquare/types
  pages/api/poll/foursquare.ts
  scripts/fix_fsq_content_date.ts
  tsconfig.json
  types/foursquare.ts
  yarn.lock
Due: tsc, eslint, prettier

Snow - Add snow effect - Configure snow size - snow observes resize - Only re-snow on resize width change - Add time bounds to snow
  pages/_document.tsx
  public/snow.js
Due: tsc, eslint, prettier

Bump patch deps
  yarn.lock
Due: none

Handle no response from things endpoint
  hooks/useThings.ts
Due: tsc, eslint, prettier

Bump tailwind
  yarn.lock
Due: none

Bump supabase
  yarn.lock
Due: none

Bump husky
  package.json
  yarn.lock
Due: prettier

Bump typescript
  package.json
  yarn.lock
Due: prettier

Bump next / eslint / prettier
  package.json
  yarn.lock
Due: prettier

Bump sendgrid
  package.json
  yarn.lock
Due: prettier

Wait for image loaded before rendering thing
  components/Timeline.tsx
Due: tsc, eslint, prettier

bun create
  .husky/prepare-commit-msg
  README.md
  bun.lockb
  lefthook.yml
  package.json
  src/index.ts
  tsconfig.json
  yarn.lock
Due: tsc, eslint, prettier

tsconfig.json re-map import paths
  tsconfig.json
Due: prettier

bun create
  .husky/prepare-commit-msg
  README.md
  bun.lockb
  lefthook.yml
  package.json
  tsconfig.json
  yarn.lock
Due: prettier
