Repository cheung31/slabby: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tsc:
      tags: typescript types
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit
    eslint:
      tags: javascript typescript lint
      glob: "*.{js,ts,tsx}"
      run: yarn eslint --fix {staged_files}
    prettier:
      tags: javascript typescript style
      glob: "*.{js,ts,tsx,md,json}"
      run: yarn prettier --write {staged_files}

Loading placeholder 100vh
  pages/[type].tsx
Due: tsc, eslint, prettier

Change order of hooks
  hooks/useThings.ts
Due: tsc, eslint, prettier

Hook changes
  hooks/useThings.ts
Due: tsc, eslint, prettier

Bump minor deps
  package.json
  yarn.lock
Due: prettier

Bump deps
  package.json
  yarn.lock
Due: prettier

WIP virtuoso
  components/GenericTimeline.tsx
  components/RandomQuote.tsx
  components/Timeline.tsx
  components/TimelineThing.tsx
  components/VirtualizedTimeline.tsx
  hooks/useRandomQuote.ts
  hooks/useThings.ts
  package.json
  pages/[type].tsx
  pages/_document.tsx
  types/plx.d.ts
  types/timeline.ts
  utils/transformForVirtualizedTimeline.ts
  yarn.lock
Due: tsc, eslint, prettier

Bump next 13
  package.json
  yarn.lock
Due: prettier

Fix mobile nav styles
  styles/mobileNav.module.css
Due: none

Update lastfm profile page url
  pages/api/poll/lastfm.ts
Due: tsc, eslint, prettier

Bump babel-loader
  package.json
  yarn.lock
Due: prettier

MobileNav - responsive for larger screen sizes, larger button
  styles/mobileNav.module.css
Due: none

MobileNav - extra bottom padding
  pages/[type].tsx
Due: tsc, eslint, prettier

supabase 2 Rename types/supabase.ts to types/api.ts Migrate from openapi types definitions to supabase database types Things Row
  components/Timeline.tsx
  hooks/useThings.ts
  package.json
  pages/api/poll/foursquare.ts
  pages/api/poll/lastfm.ts
  pages/api/poll/publish_reminder.ts
  pages/api/things/[id].ts
  pages/api/things/types/[type].ts
  types/api.ts
  types/database.ts
  types/timeline.ts
  utils/handlerWithAuthorization.ts
  utils/index.ts
  utils/supabaseClient.ts
  yarn.lock
Due: tsc, eslint, prettier

WIP - lazy load paginated
  components/Timeline.tsx
  hooks/useThings.ts
  utils/timeline.ts
Due: tsc, eslint, prettier

Setup github workflows to run migrations for each environment. Add initial schema migration
  .github/workflows/ci.yaml
  .github/workflows/production.yaml
  .github/workflows/staging.yaml
  .gitignore
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20221220185919_initial_schema.sql
Due: none

Add migration for things.posted_at
  supabase/migrations/20221220215425_add_things_posted_at.sql
Due: none

Update types
  .eslintrc.json
  types/api.ts
  types/database.ts
Due: tsc, eslint, prettier

Update api endpoint to filter on posted_at or content_date (with offset)
  pages/api/things/types/[type].ts
Due: tsc, eslint, prettier

Script to fix fsq content_dates
  pages/api/scripts/fix_fsq_content_date.ts
  types/foursquare.ts
Due: tsc, eslint, prettier

Update postgres version in config.toml
  supabase/config.toml
Due: none

Fix order by
  pages/api/things/types/[type].ts
Due: tsc, eslint, prettier

Add sortThings reusable util and compare fn
  hooks/useThings.ts
  pages/api/things/types/[type].ts
  types/things.ts
  utils/sortThings.ts
Due: tsc, eslint, prettier

Re-use exported RowThing
  pages/api/poll/foursquare.ts
  pages/api/poll/lastfm.ts
  pages/api/poll/publish_reminder.ts
  pages/api/things/[id].ts
  pages/api/things/types/[type].ts
  types/timeline.ts
  utils/index.ts
Due: tsc, eslint, prettier

Update publish notice email link to link to SB admin
  emails/publish_reminder.html
  pages/api/poll/publish_reminder.ts
Due: tsc, eslint, prettier

Update above fold count
  components/Timeline.tsx
Due: tsc, eslint, prettier

Fix nav button padding
  styles/mobileNav.module.css
Due: none

Add contrast to blur overlay
  components/BlurOverlay.tsx
  components/MobileNav.tsx
  styles/labelTag.module.css
Due: tsc, eslint, prettier

Tag text vertical align middle
  components/Timeline.tsx
Due: tsc, eslint, prettier

Absolute import paths via tsconfig's baseUrl
  components/GenericTimeline.tsx
  components/Timeline.tsx
  config.ts
  hooks/useThings.ts
  pages/[type].tsx
  pages/api/poll/foursquare.ts
  pages/api/poll/lastfm.ts
  pages/api/poll/publish_reminder.ts
  pages/api/scripts/fix_fsq_content_date.ts
  pages/api/things/[id].ts
  pages/api/things/types/[type].ts
  tsconfig.json
  utils/index.ts
  utils/sortThings.ts
  utils/supabaseClient.ts
  utils/transformForTimeline.ts
Due: tsc, eslint, prettier

Add snow effect Configure snow size snow observes resize Only re-snow on resize width change
  pages/_document.tsx
  public/snow.js
Due: tsc, eslint, prettier

Add time bounds to snow
  public/snow.js
Due: eslint, prettier
